#imgSlider {
    display: flex;
    transform: translateX(-200px);
    animation: move 4s infinite;
}
#window {
    width: 200px;
    height: 100px;
    border: 2px solid;
    overflow: hidden
    
}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-250px)
    }
}
body {
    background-color: wheat;
    font-size: 12px;
    font-family: fantasy;   
}
  